extends layout.pug

include utils.pug

block content
    div
        if locals.authenticated
            span(class='navbar-text px-4') Welcome #{user.firstName}!
             form(class='form-inline pr-4' action='/logout' method='post')
                button(class='btn btn-sm btn-warning' type='submit') Logout
        else
            span
                a(href='/sign-up') Sign up
                a(href='/login') Log in
