div(class="Footer" )
  div(class="Footer__names")
    div(class='Footer__name1') Greg Lloyd
      a( href='https://github.com/Greg001100')
        img(class='githubIcon' src="/images/GitHub-icon.png" alt='')
      a(href="https://www.linkedin.com/in/greglloyd1/")
        img(class="LinkedInIcon" style={{height: '37px', width: '40px'}} src="/images/linkedin_image.png" alt=''/>
                    </a>
                </div>
                <div style={{display: 'flex', flexDirection: 'column', alignItems: 'center', fontWeight: 'bold'}}>
                    Sam Brady
                    <a href="https://github.com/sambrady0652">
                        <img style={{height: '43px', width: '43px'}} src="/images/GitHub-icon.png" alt=''/>
                    </a>
                    <a href="https://www.linkedin.com/in/sam-brady-0652/">
                        <img style={{height: '37px', width: '40px'}} src="/images/linkedin_image.png" alt=''/>
                    </a>
                </div>
                <div style={{display: 'flex', flexDirection: 'column', alignItems: 'center', fontWeight: 'bold'}}>
                    Ben Anderson
                    <a href="https://github.com/andersjbe">
                        <img style={{height: '43px', width: '43px'}} src="/images/GitHub-icon.png" alt=''/>
                    </a>
                    <a href="https://www.linkedin.com/in/ben-anderson-79964266/">
                        <img style={{height: '37px', width: '40px'}} src="/images/linkedin_image.png" alt=''/>
                    </a>
                </div>
                <div style={{display: 'flex', flexDirection: 'column', alignItems: 'center', fontWeight: 'bold'}}>
                    Zackery Haley
                    <a href="https://github.com/Zackitty">
                        <img style={{height: '43px', width: '43px'}} src="/images/GitHub-icon.png" alt=''/>
                    </a>
                    <a href="">
                        <img style={{height: '37px', width: '40px'}} src="/images/linkedin_image.png" alt=''/>
                    </a>
                </div>
            </div>

        </div>