<!DOCTYPE html>
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet" href="/styles/mystyles.css")
            link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
            script(src="/scripts/splash.js" type="application/javascript")
            title #{title}
    body
        block content
