extends layout.pug

block append head
    link(rel="stylesheet" type="text/css" href="/styles/splash.css")
    script(src="/scripts/splash.js" type="application/javascript")
block content
    div(class="typingAnimation_container")
        span(class="typingAnimation_span")
