.hidden {
    display: none
}

.survey-preview-question-container:hover{
    background-color: #f8f8ff
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:	#F0F0F0;
    margin: 1em
} */

.option-container:not(.hidden){
    display:flex;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.radio-label{
    margin-left: 10px;
}

#publish-survey{
    margin-left:10px;
}

#question-type{
    margin-left: 10px;
    margin-right: 10px;
}

input{
    padding:5px
}

#survey-form{
    width: 900px;
    height: auto;
}

/* html{
    background-color:#C8C8C8;
} */

#clear-question{
    margin-left: 11px;
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.radio-button-holder{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
}

.scroll-option{
    margin-right: 30px
}

.new-option-text{
    width: 500px;
}

#new-question-button{
    width: 900px
}
#survey-preview-title {
    color: #00BF6F
}

.edit-button-holder {
    display: flex;
    flex-direction: row;
}


.question-input {
    width:600px;
}

#question-main-prompt-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px
}

#bottom-buffer {
    height: 300px;
    display: block;
    background: hsl(0, 0%, 96%);
}

.newQuestionContainer {
    display:flex;
}

.question-text-and-button-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:860px
}

.survey-preview-question-container {
    margin-bottom: 20px;
}

.survey-preview-question-option {
    justify-self: center;
    margin-left: 35px;
}

#multiple-choice-container {
    margin-top: 10px;
}

.new-option-text {
    margin: 10px;
    margin-top: 0px;
}

#button-holder{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

#accept-changes-button{
    margin-right: 10px;
}

#save-question{
    margin-left: 10px;
    margin-right: 10px;
}

#delete-survey{
    margin-left: 10px;
}
