
.hidden {
    display: none
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-container:not(.hidden){
    display:flex;
    width: 900px;
    justify-content: center;
    align-items: center;
}

#question-type{
    margin-left: 10px;
    margin-right: 10px;
}

input{
    padding:5px
}

#survey-form{
    width: 900px;
    height: auto;
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#new-question-button{
    width: 900px
}
.green {
    color: #00BF6F
}

.question-input {
    width:600px;
}

#question-main-prompt-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px
}

#bottom-buffer {
    display: block;
    height: 300px;
}

/* .newQuestionContainer {
    display:flex;
} */

/* .survey-preview-question-container {
    margin-bottom: 20px;
}

.survey-preview-question-option {
    justify-self: center;
    margin-left: 35px;
} */