.Footer {
  position: 'relative';
  bottom: '0';
  width: '100%';
  height: '125px';
  background-color: "#F6F4F6";
  border-top: '2px solid black';
  padding-top: '20px';
  z-index: '0';
}

.Footer__names{
display: "flex";
justify-content: "space-around"
}

.Footer__container {
display: 'flex'; 
flex-direction: 'column'; 
align-items: 'center';
font-weight: 'bold'
}

.githubIcon{
  height:'43px';
  width: '43px';
}